<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486990515621-e4lthppp6rh3270nqqihomth1qtju1t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486990515621-e4lthppp6rh3270nqqihomth1qtju1t2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>486990515621-koc8sd8eqai0v46nb79g8maafo9m29bj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfRo8GGuRA4Tu-goCONS2QoUY-xCkDd-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>486990515621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-e57b8</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-e57b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486990515621:ios:ce49127735ef66700bec4c</string>
</dict>
</plist>